

$white: #fff;
$blue: #102457;
$light-blue: #816DBD;
$dark-gray: #111111;
$light-gray: #ABABAB;
$black: #000000;
$yellow: #ffa800;
$green: #00A66D;
$opacity-white: rgba(255,255,255,0.90);

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

$font: 'Source Sans Pro', sans-serif;
$font-title: 'Montserrat', sans-serif;


$transition: .35s ease-in-out;








